body{
    margin: 0;
}
.App{
    text-align: center;

    .black-nav{
        display: flex;
        background-color: black;
        width: 100%;
        color: white;
        padding-left: 20px;
    }

    div{
        box-sizing: border-box;
    }

    .list {
        padding-left: 20px;
        padding-bottom: 10px;
        text-align: left;
        border-bottom: 1px solid gray;

        .likeBtn {
            &:hover {
                cursor: pointer;
            }
        }

        .readMore {
            &:hover {
                cursor: pointer;
            }
        }
    }

    input {
        padding: 10px;
        margin: 20px;
        width: 300px;
    }
    
}